<input type="text" [(ngModel)]="searchstring" [ngModelOptions]="{standalone: true}"> <br>
<p>{{searchstring}}</p>
<form #myForm="ngForm">

  <span ngModelGroup="personalInfo">
    <input type="text"
           #username="ngModel"
           [ngModel]="startValue"
           (ngModelChange)="usernameChanged( $event )"
           [ngModelOptions]="{name: 'name', updateOn: 'change'}"
           id="name"
           placeholder="name">
    <br>
    <input type="email"
           #email="ngModel"
           ngModel
           name="email"
           id="email"
           placeholder="email">
  </span>
  <br>

  <textarea
    #message="ngModel"
    ngModel
    name="msg"
    id="msg"
    cols="30"
    rows="5"
    placeholder="Nachricht"></textarea>
  <button>senden</button>
</form>

<button (click)="updateName()">update</button>

<p>{{myForm.value | json}}</p>
<!--

<p>{{message.value}}</p>
<p>{{username.value}}</p>
<p>{{myForm.valid}}</p>
-->
